/*Dog*/

.bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FA7268;
    height: 100vh;
    width: 100vw;
    padding: 14rem 0 3rem 0;
  }
  
  #dog {
    width: 25rem;
    height: 30rem;
    margin: 0 auto;
  }
  
  .mask {
    overflow: hidden;
  }
  
  .head {
    width: 15rem;
    height: 6.7rem;
    border-radius: 0rem 0rem 0rem 10rem;
    background-color: #B47A52;
    position: relative;
    z-index: 2;
  }
  .head::before {
    content: " ";
    width: 0;
    height: 0;
    border-left: 2.3rem solid transparent;
    border-right: 2.3rem solid transparent;
    border-bottom: 6.7rem solid #B47A52;
    position: absolute;
    top: 0rem;
    left: 12.7rem;
  }
  
  .mask-head {
    overflow: hidden;
    width: 15rem;
    height: 6.7rem;
    border-radius: 0rem 0rem 0rem 10rem;
  }
  
  .nose {
    background-color: #EEF4D4;
    width: 5.8rem;
    height: 10rem;
    transform: rotate(-17deg);
    position: relative;
    top: -1rem;
    /*  opacity: 0;*/
  }
  .nose::after {
    background-color: #2F434E;
    content: '';
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    position: absolute;
    top: 0rem;
    left: .7rem;
  }
  
  .eye {
    width: 1rem;
    height: 1rem;
    background-color: #20201E;
    border-radius: 5rem;
    position: absolute;
    top: 1.5rem;
    left: 7.7rem;
  }
  
  .ear {
    background-color: #8D4F3A;
    width: 5.7rem;
    height: 10.3rem;
    border-radius: 0 0 5rem 5rem;
    right: 0;
    position: absolute;
    top: 0;
    z-index: 2;
  }
  
  .body {
    width: 8.1rem;
    height: 20rem;
    position: relative;
    left: 9.2rem;
    background-color: #3d484e;
    z-index: 1;
    float: left;
  }
  .body::after {
    background-color: #EF4023;
    content: '';
    width: 3.5rem;
    height: 2rem;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  
  .mask-body {
    width: 8.1rem;
    height: 20rem;
    overflow: hidden;
    position: relative;
  }
  .mask-body::before {
    background-color: #242B31;
    content: '';
    width: 19.2rem;
    height: 19.6rem;
    border-radius: 100%;
    position: absolute;
    bottom: -10rem;
    left: 4.4rem;
  }
  
  .leg {
    width: 0;
    height: 0;
    border-left: 4.4rem solid transparent;
    border-right: 4.4rem solid transparent;
    border-bottom: 13.2rem solid #EEF4D4;
    position: absolute;
    left: -4.4rem;
    bottom: 0;
  }
  
  .foot {
    width: 0;
    height: 0;
    border-left: 2rem solid transparent;
    border-right: 2rem solid transparent;
    border-bottom: 2rem solid #EEF4D4;
    position: absolute;
    left: -2rem;
    bottom: 0;
  }
  
  .back-body {
    width: 6rem;
    height: 20rem;
    background-color: #3d484e;
    position: relative;
    overflow: hidden;
    right: 5rem;
    z-index: 1;
    transform: skewX(15deg);
    float: right;
  }
  .back-body::after {
    background-color: #242B31;
    content: '';
    width: 19.2rem;
    height: 19.6rem;
    border-radius: 100%;
    position: absolute;
    top: 11rem;
    left: -2.1rem;
  }
  .back-body::before {
    background-color: #4D9DE0;
    content: '';
    width: 3.5rem;
    height: 2rem;
    position: absolute;
    top: 0px;
    right: 0px;
  }
  
  .mask-tail {
    width: 5rem;
    height: 15rem;
    position: relative;
    left: 4rem;
    top: 5rem;
    float: right;
    overflow: hidden;
  }
  .mask-tail::before {
    content: " ";
    width: 0;
    height: 0;
    border-left: 4.3rem solid transparent;
    border-right: 4.3rem solid transparent;
    border-bottom: 15rem solid #3d484e;
    position: absolute;
    bottom: 0rem;
    left: .6rem;
  }
  .mask-tail::after {
    content: " ";
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 1.4rem solid transparent;
    border-bottom: 3.6rem solid #FFFFFF;
    position: absolute;
    top: -.2rem;
    left: 3.8rem;
  }
  
  .shirt {
    width: 5rem;
    height: .5rem;
    border-radius: 9rem 2rem 0 4rem;
    background-color: #EF4023;
    position: absolute;
    top: -1.4rem;
    right: 12.3rem;
    z-index: 0;
    transform: rotate(-17deg);
  }


  /*Loading...*/

  .spinner {
    margin: .1rem auto 0;
    width: 7rem;
    text-align: center;
  }
  
  .spinner > div {
    width: 2rem;
    height: 2rem;
    background-color: #4D9DE0;
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }

  @media (max-width: 37.5em) {
    .bg {
      padding: 9rem 0;
    }
  }